[data-zoom-img]{
  cursor: pointer;
}
#data-zoom-layer{
  z-index: @z-zoom-layer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  animation: dz-open-zoom-layer;
  animation-fill-mode: both;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  overflow-y: auto;

  >.close,.next,.prev{
    position: absolute;
    z-index: 1;
    display: block;
    width: var(--spacing-big);
    height: var(--spacing-big);
    svg{
      color: #fff;
      width: 100%;
      height: 100%;
    }
    &:hover{
      svg{
        color: #eee;
      }
    }
    animation-name: dz-open-zoom-layer;
    animation-duration: 0.5s;
    animation-delay: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    &.prev,&.next{
      animation-delay: 0.5s;
    }
  }

  >.close{
    right: 0;
    top: 0;
    @media(min-width: @screen-lg) {
      right: var(--spacing-small);
      top: var(--spacing-small);
    }
  }
  >.prev{
    left: 0;
    @media(min-width: @screen-lg){
      left: var(--spacing-small);
    }
    top: 50%;
  }
  >.next{
    right: 0;
    @media(min-width: @screen-lg){
      right: var(--spacing-small);
    }
    top: 50%;
  }


  .legende{
    margin-left: calc( var(--spacing-big) * 2);;
    margin-right:calc( var(--spacing-big) * 2);
    width: calc( 100% - var(--spacing-big) * 4);
    min-height: calc( var(--spacing-big) * 2);
    position: absolute;
    top: calc( 100% - var(--spacing-big) * 2);;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .img-container{
    background-size: contain;
    margin: calc( var(--spacing-big) * 2);;
    width: calc(100% - var(--spacing-big) * 4);
    //width: calc(100% - 300px );
    height: calc(100% - var(--spacing-big) * 4);
    background-position: center;
    background-repeat: no-repeat;
    >video{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .img-container,.legende{

    //transition: opacity 0.4s, transform 0.4s;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    &[transi='fade-in-left']{
      animation-name: dz-fade-in-left;
    }
    &[transi='fade-in-right']{
      animation-name: dz-fade-in-right;
    }
    &[transi='fade-out-right']{
      animation-name: dz-fade-out-right;
    }
    &[transi='fade-out-left']{
      animation-name: dz-fade-out-left;
    }

    &.legende{
      animation-delay: 0.1s;
    }
  }

}

@keyframes dz-fade-in-right {
  from{
    filter: contrast(2) brightness(4);
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes dz-fade-in-left {
  from{
    filter: contrast(2) brightness(4);
    transform: translateX(-100px);
    opacity: 0;
  }
}
@keyframes dz-fade-out-right {
  to{
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes dz-fade-out-left {
  to{
    transform: translateX(-100px);
    opacity: 0;
  }
}
@keyframes dz-open-zoom-layer{
  from{
    opacity: 0;
    transform: scale(0.95);
  }
}
