@slick-opacity-not-active: 0.25;


.cards-container-wrapper{
    .slick-slide{
        display: flex;
        justify-content: center;
        padding: var(--gutter);
        >.card{
            width: 300px;
        }
    }
}

.slick-slider{
    --dots-height:40px;
    --dots-size:10px;
    &.slick-dotted{
        padding-bottom: var(--dots-height);
        .slick-dots{
            height: var(--dots-height);
            li{
                button{
                    width: var(--dots-size);
                    height: var(--dots-size);
                }
            }
        }
    }
}


/* Slider */
.slick-loading .slick-list{
    //background: #fff url('@{slick-loader-path}ajax-loader.gif') center center no-repeat;
}


/* Arrows */
.slick-prev,
.slick-next {
    @sz:20px;
    position: absolute;
    display: block;
    height: @sz;
    width: @sz;
    border: 1px solid transparent;
    border-top: 1px solid var(--color-primary,#000);
    border-left: 1px solid var(--color-primary,#000);
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;

    top: calc(  100%  / 2 - @sz / 2 );
    .slick-dotted & {
        top: calc( ( 100% - var(--dots-height) ) / 2 - @sz / 2 );
    }

    padding: 0;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
    }
    &.slick-disabled:before {
        opacity: 0.2;
    }
}
.slick-prev {
    transform: rotate(-45deg);
    left: -25px;
}
.slick-next {
    transform: rotate(135deg);
    right: -25px;
}

/* Dots */

.slick-dots {
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        &:only-child{
            display: none;
        }
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border-radius: 100%;
            border: 1px solid var(--color-primary,#000);
            background-color: var(--color-secondary,#fff);
            outline: none;
            display: block;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 0;
            cursor: pointer;
            &:hover, &:focus {
                transform: scale(1.1);
            }
        }
        &.slick-active button {
            background-color: var(--color-primary,#000);
        }
    }
}


