
.button{
  appearance: none;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  user-select: none;
  height: var(--height);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);

  //shape par défaut
  .make-shp-pill();

  &:not(:disabled){
    cursor: pointer;
  }
  transition: all 0.2s;
  //typography
  text-decoration: none;
  font-size: var(--font-size);
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  font-family: @font-normal;


  //size----------------------------
  &.sz-small{
    --height:30px;
    --padding-x:10px;
    --font-size:12px;
  }
  &.sz-normal, &{
    --height:40px;
    --padding-x:25px;
    --font-size:16px;
    --ico-size:1.5em;
  }
  &.sz-big{
    --height:55px;
    --padding-x:35px;
    --font-size:20px;
  }
  &.sz-huge{
    --height:70px;
    --padding-x:40px;
    --font-size:30px;
  }

  &.square{
    width: var( --height);
    padding: 0;
  }

  //with icons
  svg{
    display: block;
    margin: 0;
    width: var(--ico-size);
    height: var(--ico-size);
    &:first-child{
      margin-left: calc( -0.5 * var(--padding-x));
      margin-right: calc( 0.2 * var(--padding-x));
    }
    &:last-child{
      margin-left: calc( 0.2 * var(--padding-x));
      margin-right: calc( -0.5 * var(--padding-x));
    }
    &:only-child{
      margin-left: 0;
      margin-right: 0;
    }
  }

  //colors
  &:hover{
    filter:brightness(0.9) contrast(1.2) hue-rotate(10deg);
  }

  .make-colors-positive();

}


.make-colors-negative(){
  border-color: transparent;
  color: var(--color-secondary);
  background-color: var(--color-primary,#f00);
}
.make-colors-positive(){
  color: var(--color-primary);
  border: 2px solid var(--color-primary,#f00);
  background-color: var(--color-secondary,#f00);
}
.make-colors-naked(){
  border-color: transparent;
  background-color: transparent;
}
.make-colors-transparent(){
  background-color: transparent;
  border: 2px solid var(--color-primary,#f00);
}

.negative,
.negative-hvr:hover,
.hvr:hover .negative-hvr
{
 .make-colors-negative();
}

.positive,
.positive-hvr:hover,
.hvr:hover .positive-hvr
{
  .make-colors-positive();
}

.naked,
.naked-hvr:hover,
.hvr:hover .naked-hvr
{
  .make-colors-naked();
}

.transparent,
.transparent-hvr:hover,
.hvr:hover .transparent-hvr
{
  .make-colors-transparent();
}



